@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300&display=swap');
* {
    box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.main-content {
    width: 65%;
    min-height: 1000px;
    display: grid;
    grid-template-columns: 300px 700px;
    margin: auto;
}


/* Left Section */

.left-section {
    grid-column: span 1;
    background-color: #2d3a43;
    color: white;
}

.left-content {
    padding: 4rem 1rem;
}


/* Profile Section */

.profile-image img {
    text-align: center;
    display: block;
    margin: auto;
    width: 60%;
    border: 5px solid #7dc9c0;
    box-shadow: 0 0 1.2rem 0.1rem #7dc9c0;
    border-radius: 30%;
    
}

.name {
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.02px;
    padding: 0.8rem;
}

.designation {
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
}

.description {
    font-size: 0.75rem;
    text-align: center;
    text-transform: uppercase;
    padding-top: 0.5rem;
    margin-bottom: 1rem;
}


/* Personal Details Section */

.personal-details .fa {
    color: bisque;
}

.detail {
    margin: 1rem 0.5rem 0.5rem 0px;
}

.social-media {
    text-align: center;
    margin: 1rem 0px;
}

.iconify {
    width: 2rem;
    height: 2rem;
    margin: 10px;
    color: #fff;
}

.iconify:hover {
    color: bisque;
}


/* Skill Section */

.skills,
.interests {
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    padding: 0.7rem 1rem;
    margin-top: 1rem;
}

.main-skill,
.main-interest {
    margin-bottom: 1rem;
}

.skill-name,
.interest-name {
    font-size: 0.9rem;
    font-weight: 0.65rem;
    text-align: left;
    padding-bottom: 0.75rem;
}

.progress-bar {
    border: 1px solid white;
    height: 7px;
    color: #fff;
    width: 100%;
    border-radius: 5px;
}

.progress-bar span {
    display: block;
    height: 100%;
    background-color: #7dc9c0;
}

.java {
    width: 50%;
}

.dsa {
    width: 65%;
}

.react {
    width: 65%;
}

.node {
    width: 70%;
}

.js {
    width: 75%;
}
.sql{
    width: 55%;
}
.html{
    width: 80%;
}
.css{
    width: 65%;
}

/* Right Section */

.right-section {
    grid-column: span 1 / span 2;
    background-color: #efe8f4ac;
}

.right-main-content {
    padding: 3rem 2rem;
}

.right-title {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.5rem;
    letter-spacing: 1px;
    color: #7dc9c0;
    border-bottom: 2px solid #310357;
}

.right-title i {
    margin-right: 1rem;
}

.edu {
    margin-bottom: 1.5rem;
}

.desc {
    font-size: 1.2rem;
}

.institute {
    margin-top: 0.15rem;
    font-size: 0.90rem;
    display: flex;
    justify-content: space-between;
}

.year {
    font-size: 0.90;
    text-align: right;
    margin-right: 1rem;
}

.sect {
    margin-left: 2rem;
    margin-bottom: 1rem;
}

ul {
    margin-top: 0.4rem;
}

ul li {
    font-size: 0.85rem;
}

@media screen and (max-width: 673px) {
    .main-content {
        grid-template-columns: repeat(1, 1fr);
    }
}